<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title><%= title %></title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="navbar">
            <div class="logo"><a href="#"><%= logo %></a></div>
            <ul class="links">
                <li><a href="<%= home %>">Home</a></li>
                <li><a href="<%= opportunities %>">Opportunities</a></li>
                <li><a href="<%= account %>">Account</a></li>
            </ul>
            <div>
                <a href="<%= login %>" class="login">Login</a>
                <a href="<%= signup %>" class="signup_btn">Sign Up</a>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
        <div class="dropdown_menu">
            <li><a href="<%= home %>">Home</a></li>
            <li><a href="<%= opportunities %>">Opportunities</a></li>
            <li><a href="<%= account %>">Account</a></li>
            <li><a href="<%= login %>" class="login">Login</a></li>
            <li><a href="<%= signup %>" class="signup_btn">Sign Up</a></li>
        </div>
    </header>

    <!-- CONTENT -->
    <main>
        <section id="home">
            <h1><%= homeTitle %></h1>
            <p><%= homeDescription %></p>
            <a href="<%= learnMore %>" class="hero_btn">Learn more</a>
        </section>

        <!-- FEATURES -->
        <section id="boxes">
            <h1><%= featuresTitle %></h1>
            <p><%= featuresDescription %></p>

            <div class="row">
                <% features.forEach(function(feature) { %>
                    <div class="col" style="background: '<%= feature.color %>'">
                        <h3><%= feature.name %></h3>
                    </div>
                <% }); %>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <h4><%= footerLogo %></h4>
        <p><%= footerDescription %></p>
        <p>&copy; <%= currentYear %>, All Rights Reserved</p>
    </footer>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
              ? 'fa-solid fa-xmark'
              : 'fa-solid fa-bars'
        }
    </script>
</body>
</html>
