<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title><%= title %></title>
</head>
<body>
    <div class="sign-container">
        <div class="sign-background"></div>
        <div class="sign-card">
            <h2 class="sign-heading"><%= signup2Title %></h2>
            <p class="sign-subheading"><%= signup2Subheading %></p>
            <form class="form">
                <div class="form-group">
                    <label for="phone"><%= phoneLabel %>:</label>
                    <input type="text" id="phone" required placeholder="<%= phonePlaceholder %>">
                </div>
                <div class="form-group">
                    <label for="address"><%= addressLabel %>:</label>
                    <input type="text" id="address" required placeholder="<%= addressPlaceholder %>">
                </div>
                <div class="form-group">
                    <label for="city"><%= cityLabel %>:</label>
                    <input type="text" id="city" required placeholder="<%= cityPlaceholder %>">
                </div>
                <div class="form-group">
                    <label for="country"><%= countryLabel %>:</label>
                    <input type="text" id="country" required placeholder="<%= countryPlaceholder %>">
                </div>
                <button type="submit" class="sign-btn"><%= nextButton %></button>
            </form>
            <p class="login-signup-text">
                <%= alreadyHaveAccountText %> <a href="<%= loginLink %>" class="login-signup-link"><%= loginText %></a>
            </p>
        </div>
    </div>
    
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
              ? 'fa-solid fa-xmark'
              : 'fa-solid fa-bars'
        }
    </script>
</body>
</html>
